<%page expression_filter="h"/>
<%inherit file="theme-main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse

from openedx.core.djangolib.markup import HTML, Text
%>

    <section id="main-slider" class="no-margin">
        <div class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">

                <div class="item active" style="background-image: url(${static.url("images/slider/banner1.png")}">

                </div><!--/.item-->

                <div class="item" style="background-image: url(${static.url("images/slider/banner2.png")}">

                </div><!--/.item-->

                <div class="item" style="background-image: url(${static.url("images/slider/banner3.png")}">

                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="fa fa-chevron-right"></i>
        </a>
    </section><!--/#main-slider-->

    <section id="feature" >
        <div class="container">
           <div class="center wow fadeInDown">
                <h2>What We Offer</h2>
                <p class="lead">Akidzon is self-paced online learning portal with comprehensive K-12 curriculums. <br>
                  Whether you are a teacher, parent or home schooler, you will find the resource helpful for you.
                </p>
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-bullhorn"></i>
                            <h2>Kid Friendly</h2>
                            <h3>Resources are designed for your children to navigate by themselves</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-comments"></i>
                            <h2>Personalized and Adjustable</h2>
                            <h3>Akidzon is Personalized learning and the difficult of the question is adjusted based on questions have been answers.</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-cloud-download"></i>
                            <h2>Real-Time Diagnostic</h2>
                            <h3>Akidzon gives real time grading and diagnostic about what your child knows and what need to be improved.</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-leaf"></i>
                            <h2>Unlimited Practice</h2>
                            <h3>You child can choose different ways to practice the same concept and build a strong foundation of knowledge.</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-cogs"></i>
                            <h2>Goal Driven</h2>
                            <h3>A goal can be set by the teacher/parent, a customized learning path will be suggested and adjusted accordingly as your child goes on.</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-heart"></i>
                            <h2>Awards and Certification</h2>
                            <h3>Fun awards and Certification will be granted according to the progress.</h3>
                        </div>
                    </div><!--/.col-md-4-->

                </div><!--/.services-->
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#feature-->


    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 wow fadeInDown">
                   <div class="tab-wrap">
                        <div class="media">
                            <h2>Our Vision</h2>
                            <div class="parrent pull-left">
                                <ul class="nav nav-tabs nav-stacked">
                                    <li class=""><a href="#tab1" data-toggle="tab" class="analistic-01">Child Centric</a></li>
                                    <li class="active"><a href="#tab2" data-toggle="tab" class="analistic-02">Better Education</a></li>
                                    <li class=""><a href="#tab3" data-toggle="tab" class="tehnical">Serve the Community</a></li>
                                    <li class=""><a href="#tab4" data-toggle="tab" class="tehnical">Solving Real Educational Problems</a></li>
                                </ul>
                            </div>

                            <div class="parrent media-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade" id="tab1">
                                        <div class="media">
                                           <div class="pull-left">
                                                <img class="img-responsive" src="${static.url("images/vision_tab1.png")}">
                                            </div>
                                            <div class="media-body">
                                                 <p>To be the most child-centric online education platform where they can enjoy the learning experience and build up a strong knowledge for their future success.</p>
                                            </div>
                                        </div>
                                    </div>

                                     <div class="tab-pane fade active in" id="tab2">
                                        <div class="media">
                                           <div class="pull-left">
                                                <img class="img-responsive" src="${static.url("images/vision_tab2.png")}">
                                            </div>
                                            <div class="media-body">
                                                 <p>Every child deserves a better education. And we are here to provide access to a better education in one click.</p>
                                            </div>
                                        </div>
                                     </div>

                                     <div class="tab-pane fade" id="tab3">
                                        <div class="media">
                                           <div class="pull-left">
                                                <img class="img-responsive" src="${static.url("images/vision_tab3.png")}">
                                            </div>
                                            <div class="media-body">
                                                 <p>It's our responsibilities to serve the our community (families and schools) with better education tools.</p>
                                            </div>
                                        </div>
                                     </div>
                                    <div class="tab-pane fade" id="tab4">
                                       <div class="media">
                                          <div class="pull-left">
                                               <img class="img-responsive" src="${static.url("images/vision_tab4.png")}">
                                           </div>
                                           <div class="media-body">
                                                <p>We are passionate about developing cutting-edge products and solutions that no one else would dream to come up with.</p>
                                           </div>
                                       </div>
                                    </div>

                                </div> <!--/.tab-content-->
                            </div> <!--/.media-body-->
                        </div> <!--/.media-->
                    </div><!--/.tab-wrap-->
                </div><!--/.col-sm-6-->

                <div class="col-xs-12 col-sm-4 wow fadeInDown">
                    <div class="testimonial">
                        <h2>Testimonials</h2>
                         <div class="media testimonial-inner">
                            <div class="pull-left">
                                <img class="img-responsive img-circle" src="${static.url("images/testimonials1.png")}">
                            </div>
                            <div class="media-body">
                                <p>After using Akidzon for , my 5th and 8rd graders experienced a big jump in their school assessment! It's an awesome on line platform for almost every kid.</p>
                                <span><strong>-Tom</strong> Parent</span>
                            </div>
                         </div>

                         <!-- <div class="media testimonial-inner">
                            <div class="pull-left">
                                <img class="img-responsive img-circle" src="${static.url("images/testimonials1.png")}">
                            </div>
                            <div class="media-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                                <span><strong>-John Doe/</strong> Director of corlate.com</span>
                            </div>
                         </div> -->

                    </div>
                </div>

            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#content-->
<!--
    <section id="partner">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Our Partners</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>

            <div class="partners">
                <ul>
                    <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" src="${static.url("images/partners/partner1.png")}"></a></li>
                    <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" src="${static.url("images/partners/partner2.png")}"></a></li>
                    <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms" src="${static.url("images/partners/partner3.png")}"></a></li>
                    <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms" src="${static.url("images/partners/partner4.png")}"></a></li>
                    <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1500ms" src="${static.url("images/partners/partner5.png")}"></a></li>
                </ul>
            </div>
        </div><!--/.container-->
    </section><!--/#partner--> -->

    <section id="conatcat-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="pull-left">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="media-body">
                            <h2>Have a question or need a custom quote?</h2>
                            <p>If you have any question, please send an email to customerservice@akidzon.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.container-->
    </section><!--/#conatcat-info-->

    <section id="bottom">
    <div class="container container-footer wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="widget">
                    <h3>Company</h3>
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">We are hiring</a></li>
                        <li><a href="#">Meet the team</a></li>
                        <li><a href="#">Copyright</a></li>
                        <li><a href="#">Terms of use</a></li>
                        <li><a href="#">Privacy policy</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                </div>
            </div><!--/.col-md-3-->

            <div class="col-md-4 col-sm-6">
                <div class="widget">
                    <h3>Support</h3>
                    <ul>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Forum</a></li>
                        <li><a href="#">Documentation</a></li>
                        <li><a href="#">Refund policy</a></li>
                        <li><a href="#">Ticket system</a></li>
                        <li><a href="#">Billing system</a></li>
                    </ul>
                </div>
            </div><!--/.col-md-3-->

            <div class="col-md-4 col-sm-6">
                <div class="widget">
                    <h3>Courses</h3>
                    <ul>
                        <li><a href="#">Math</a></li>
                        <li><a href="#">Math by grade</a></li>
                        <li><a href="#">Math by topic</a></li>
                        <li><a href="#">Science</a></li>
                        <li><a href="#">Science by grade</a></li>
                        <li><a href="#">Science by topic</a></li>
                    </ul>
                </div>
            </div><!--/.col-md-3-->

        </div>
    </div>
</section><!--/#bottom-->

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
